<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>01.png</string>
		<key>name</key>
		<string>老婆大人</string>
		<key>messageStr</key>
		<string>我想你了老公</string>
		<key>date</key>
		<string>下午3:08</string>
		<key>isMe</key>
		<false/>
	</dict>
    
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>闺蜜</string>
        <key>messageStr</key>
        <string>今天好开心，彩票中大奖了额500万</string>
        <key>date</key>
        <string>下午6:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>张三</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>包包</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>老郭</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>悟空</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>黑色幽默</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>白色浪漫</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>小三</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>小四</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>八哥</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
    <dict>
        <key>icon</key>
        <string>01.png</string>
        <key>name</key>
        <string>声卡</string>
        <key>messageStr</key>
        <string>今天开车兜风去？</string>
        <key>date</key>
        <string>下午8:08</string>
        <key>isMe</key>
        <false/>
    </dict>
</array>
</plist>
